html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }
  body:after {
    display: block;
    content: "normal";
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #00F;
    color: #FFF;
    font-size: 12px;
    line-height: 1;
    padding: 3px 5px; }
    @media (min-width: 1200px) {
      body:after {
        content: "large"; } }
    @media (min-width: 993px) and (max-width: 1199px) {
      body:after {
        content: "desktop"; } }
    @media (min-width: 768px) and (max-width: 992px) {
      body:after {
        content: "tablet"; } }
    @media (max-width: 767px) {
      body:after {
        content: "phone"; } }

/* app-nav */
.app-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #292929; }
  .app-nav .app-nav-wrapper .brand {
    display: block;
    padding: 10px 20px;
    background-color: #24bae6;
    color: #FFF;
    font-size: 18px; }
    .app-nav .app-nav-wrapper .brand:hover, .app-nav .app-nav-wrapper .brand:focus {
      text-decoration: none; }
    @media (max-width: 767px) {
      .app-nav .app-nav-wrapper .brand {
        display: none; } }
  .app-nav .app-nav-wrapper ul {
    margin: 0;
    padding: 0; }
    .app-nav .app-nav-wrapper ul li {
      list-style-type: none;
      padding: 0;
      margin: 3px 0; }
      .app-nav .app-nav-wrapper ul li a {
        display: block;
        line-height: 1;
        padding: 10px 30px 10px 20px;
        color: #FFF; }
        .app-nav .app-nav-wrapper ul li a:hover, .app-nav .app-nav-wrapper ul li a:focus {
          text-decoration: none;
          background-color: #000; }
        .app-nav .app-nav-wrapper ul li a span {
          margin-left: 10px; }
        @media (max-width: 767px) {
          .app-nav .app-nav-wrapper ul li a {
            display: block;
            text-align: center; }
            .app-nav .app-nav-wrapper ul li a i.fa {
              font-size: 24px; }
            .app-nav .app-nav-wrapper ul li a span {
              display: none; } }
    .app-nav .app-nav-wrapper ul .dropdown-submenu > a:after {
      margin-top: -12px;
      margin-right: -15px; }
      @media (max-width: 767px) {
        .app-nav .app-nav-wrapper ul .dropdown-submenu > a:after {
          margin-top: -18px; } }
    .app-nav .app-nav-wrapper ul .dropdown-menu a {
      text-align: left; }

/* end of app-nav */
